/* 로컬 폴더의 폰트를 불러옵니다 */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
}

/* 앱 전체에 프리텐다드 폰트 적용 */
body {
    font-family: 'Pretendard', sans-serif;
}

/* -------------------------------------
    구글 Material Icons 오프라인 설정 
-------------------------------------- */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}
/* -------------------------------------
    구글 Material Icons 오프라인 완벽 설정 
-------------------------------------- */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons' !important;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    letter-spacing: normal;
    text-transform: none;
    vertical-align: middle;
    
    /* 리가처(단어 -> 아이콘 변환) 크로스 브라우저 필수 설정 */
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}